<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountInfo</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>银行卡</string>
				<key>viewController</key>
				<string>BHBankCardViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>账户安全</string>
				<key>viewController</key>
				<string>BHSecurityViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>风险测评</string>
				<key>viewController</key>
				<string>BHRiskAssessmentViewController</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的消息</string>
				<key>viewController</key>
				<string>BHMessageCenterViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>帮助中心</string>
				<key>viewController</key>
				<string>BHHelpCenterViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>联系客服</string>
				<key>viewController</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>检查更新</string>
				<key>viewController</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>意见反馈</string>
				<key>viewController</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>关于</string>
				<key>viewController</key>
				<string></string>
			</dict>
		</array>
	</array>
</dict>
</plist>
