<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>importantPrompt</key>
	<string></string>
	<key>riskQuestion</key>
	<array>
		<dict>
			<key>question</key>
			<string>1、您的年龄是？</string>
			<key>answerArray</key>
			<array>
				<string>18-30</string>
				<string>31-45</string>
				<string>46-60</string>
				<string>高于60岁</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>2、您的教育程度是？</string>
			<key>answerArray</key>
			<array>
				<string>中专及中专以下</string>
				<string>大专</string>
				<string>本科</string>
				<string>研究生及以上</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>3、您的职业是？</string>
			<key>answerArray</key>
			<array>
				<string>自由职业</string>
				<string>专业技术人员</string>
				<string>一般企业事业单位</string>
				<string>金融行业从业人员</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>4、您目前的个人月均固定收入（投资收益除外）是？</string>
			<key>answerArray</key>
			<array>
				<string>5千元以下</string>
				<string>5千元-1万元</string>
				<string>1-2万元</string>
				<string>2-5万元元</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>5、您是否在投资理财的经验？</string>
			<key>answerArray</key>
			<array>
				<string>一年以内</string>
				<string>2-5年</string>
				<string>5-10年</string>
				<string>10年以上</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>6、在本次投资之前，贵公司过往的投资经验</string>
			<key>answerArray</key>
			<array>
				<string>仅包括银行存款</string>
				<string>与银行存款类似、风险较低、结构简单的投资（余额宝或者类似余额宝的货币基金） </string>
				<string>除前款所述产品，还投资于股票、保险、银行理财产品和余额宝类似产品以外其他基金品种</string>
				<string>对股票、基金、金融衍生品等各投资品种与市场动态较为了解，并亲自打理投资</string>
				<string>对投资产品较为了解，委托专业机构进行长线投资</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>7、您目前投资理财的总规模是？</string>
			<key>answerArray</key>
			<array>
				<string>小于3万</string>
				<string>3-5万</string>
				<string>5-10万</string>
				<string>10-30万</string>
				<string>30万以上</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>8、您近期投资的总收益是？</string>
			<key>answerArray</key>
			<array>
				<string>亏损大于30%</string>
				<string>亏了一些，小于30%</string>
				<string>盈亏基本持平</string>
				<string>赚了一些，但小于30%</string>
				<string>赚了30%-100%</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>9、关于理财相关投资人教育活动的必要性，您的看法是？</string>
			<key>answerArray</key>
			<array>
				<string>市场有风险，应该有风险意识，投资者教育是有必要的，要长期进行</string>
				<string>能有最好，没有也无所谓</string>
				<string>投资主要还是靠自己，投资者教育必要性不大</string>
				<string>对市场看好，没有什么风险，投资者教育是多余的事情</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>10、您是否了解所投资产品的风险级别？</string>
			<key>answerArray</key>
			<array>
				<string>很了解</string>
				<string>比较了解</string>
				<string>一般</string>
				<string>不了解</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>11、您投资的首要目的是？</string>
			<key>answerArray</key>
			<array>
				<string>抗通货膨胀的保值手段</string>
				<string>长期持有实现财富增值</string>
				<string>短期内实现财富快速增值</string>
				<string>其他</string>
			</array>
			<key>scoreArray</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
